:root {
  --black: #130f0d;
  --primary: #fd951f;
  --primary-dark: #dd7b0c;
  --white: #f0f0f9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
button,
input {
  font-family: sans-serif;
}

body {
  height: 100vh;

  background-color: var(--black);
  color: var(--white);

  display: flex;
  flex-direction: column;
}

main {
  margin: auto;
  width: 80vw;
}

.c-button {
  width: 100%;
  color: var(--white);
  background-color: var(--primary);
  border: none;

  text-transform: uppercase;
  font-size: 1.8rem;
  padding: 1.2rem;

  outline: none;

  transition: 0.2s;
}

.c-button:hover {
  background-color: var(--primary-dark);
}

.c-image {
  height: 80vh;
  position: relative;
}

.c-image:hover::after,
.c-image.fav::after {
  content: "\2605";
  color: var(--primary);

  position: absolute;
  top: 0;
  left: 10px;

  font-size: 3rem;
}

.c-image.fav:hover:after {
  content: "\2606";
}

.c-image__item {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
