:root {
  --black: #130f0d;
  --primary: #fd951f;
  --primary-dark: #dd7b0c;
  --white: #f0f0f9;
  --danger: #b80000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
button,
input {
  font-family: "Ubuntu", sans-serif;
}

body {
  height: 100vh;

  background-color: var(--black);
  color: var(--white);

  display: flex;
  flex-direction: column;
}

main {
  margin: auto;
  padding: 2rem 0;
  width: 80vw;
}

.c-title {
  text-align: center;
  margin: 2rem 0;
  font-size: 2rem;
}

.c-button {
  width: 100%;
  color: var(--white);
  background-color: var(--primary);
  border: none;

  text-transform: uppercase;
  font-size: 1.8rem;
  padding: 1.2rem;
  font-weight: bold;

  outline: none;

  transition: 0.2s;
}

.c-button:hover {
  background-color: var(--primary-dark);
}

.c-button--remove {
  background-color: red;
  padding: 1rem;
  font-size: 1.2rem;
}

.c-button--remove:hover {
  background-color: var(--danger);
}

.c-image {
  height: 80vh;
  position: relative;
}

.c-image:hover::after,
.c-image.fav::after {
  content: "\2605";
  color: var(--primary);

  position: absolute;
  top: 0;
  left: 10px;

  font-size: 3rem;
}

.c-image.fav:hover:after {
  content: "\2606";
}

.c-image__item {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.c-list {
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  gap: 1rem;
  justify-content: center;
}

.c-list__item {
  min-width: 250px;
}

.c-list__img {
  width: 100%;
  height: 250px;
}
